<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>
    Welcome to text analizer. Enter your text below

    </h1>
<form action="/analize" method="get">

    <textarea name="text"; style='margin:0px; width: 721px; height: 93x; '>

    </textarea> <br>
    <input type="checkbox" name="removepunc" > remove punctuation<br>
    <input type="checkbox" name="fullcaps" > Upper Case<br>
    <input type="checkbox" name="newlineremove" > New Line Remover<br>

    <button type="submit">
        Analize text
    </button>

</form>
</body>
</html>